:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* text-color */
  --accent-color: #2196F3;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #FFFFFF;
  --logo-text-color: #000000;
  /* bacground-calor */
  --main-bacground-color: #FFFFFF;
  --secondary-bacground-color: #2F303A;
  --galerry-bacground-color: #E5E5E5;
  --team-bacgrount-color: #F5F4FA;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  /* line-height: 35px; */
letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bacground-color);
 }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}

/* Скрытые заголовки */
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
  
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
  }
/* Container */
.container {
outline: 1px solid red;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
/* Падинги для секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer-section {
  padding-top: 60px;
    padding-bottom: 60px;
}

.list {
list-style: none;
padding: 0;
margin: 0;
}
.link {
text-decoration: none;
}
/* Шапка , header-container*/
.header-section {
  color: var(--main-bacground-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  

}
.site-nav {
  display: flex;
  align-items: center;
}
.navigation-item {
  margin-right: 50px;
 
display: block;
padding-top: 32px;
padding-bottom: 32px;
}
.site-nav:last-child {
  margin-right: 0;
}
.item {
  display: block;
margin-right: 50px;


padding-top: 32px;
padding-bottom: 32px;
}
.item-tel {
  display: block;
  padding-top: 32px;
    padding-bottom: 32px;
    
}
.auth-nav {
  display: block;
  display: flex;
  align-items: center;
  margin-left: auto;
  }


/* Логотип */
.logo {

margin-right: 93px;  
  
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.logo-title {
  color: var(--logo-text-color);
 
}

/* site-nav */
.nav.link {
  font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.link.current {
  color: var(--accent-color);
  
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* auth-nav */
.header-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/*Герой */
.hero-section {
   background-color: var(--secondary-bacground-color);
  text-align: center;
  padding-top: 200px;
    padding-bottom: 200px;
  }

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  height: 120px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin: auto;
  align-items: center;
  text-align: center;
  }


/* button */
.hero-btn {
font-family: inherit;
margin-top: 30px;
border-radius: 3px; 
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
border: 1px solid transparent;
letter-spacing: 0,06em;
background-color: var(--accent-color);
color: var(--secondary-text-color);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  
}

/* Секция Преимущества */
.benefits-section {
background-color: var(--main-bacground-color);
}
.benefits-list {
display: flex;
}
/* .benefits-item {
margin-right: 30px;
width: 270px; */


.benefits-item.item:not(:last-child) {
margin-right: 30px;
width: 270px;
}

/* Преимущества, Товары и услуги */


.benefits-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42;

  color: var(--main-text-color);
}
.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  
  text-transform: uppercase;
   color: var(--title-text-color);
}
/* Секция Примеры работ */

.galerry-section {
  background-color: var(--main-bacground-color);
  }
.galerry-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
   color: var(--title-text-color);
 text-align: center;
  margin-bottom: 50px;
}
  .galerry-img {
    display: flex;
  }
  .galerry-item.item:not(:last-child) {
      margin-right: 30px;
      }
/* Секция Наша команда */
.team-section {
  background-color: var(--team-bacgrount-color);
 
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
text-align: center;
margin-bottom: 50px;
}
.team.list {
  display: flex;
}
.team-item {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  
  color: var(--title-text-color);
}
.team-text {
  margin-bottom: 30px;
font-size: 16px;
line-height: 1.19;
text-align:center;

color: var(--main-text-color);
}
.img-item.item:not(:last-child) {
  margin-right: 30px;
}
.img-item {
  background-color: #FFFFFF;
  border: 1px var(--main-text-color);
  border: radius 4px;
}
/* Футер */
/* логотип */
.address {
  font-style: normal;
}
.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.logo-title-span {
  color: var(--secondary-text-color);
  
}

.footer-section {
  background-color: var(--secondary-bacground-color);
  color: var(--secondary-text-color);
}

.footer-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}
.footer-item.item:not(:last-child) {
  margin-bottom: 10px;
}
/* Портфолио  */
/* button portfolio */
.btn-portfolio {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
font-family: inherit;
border: none;
color: var(--title-text-color);
background-color: var(--galerry-bacground-color);
cursor: pointer;
letter-spacing: 0,06em;
border-radius: 3px;
border: 1px solid transparent;
}
        
.btn-portfolio:hover,
.btn-portfolio:focus {
color: var(--secondary-text-color);
background-color: var(--accent-color)
}
/* Товары и услуги */
.features-section {
  background-color: var(--main-bacground-color);
}
.features-items {
font-weight: 700;
font-size: 18px;
line-height: 2;

color: var(--title-text-color);
}
.features-text {
font-weight: 400;
font-size: 16px;
line-height: 1.9;

color: var(--main-text-color);
}